.navbar-item {
    display: flex;
    justify-content: space-between;
}
 .navbar-brand {
    font-family: 'Times New Roman', serif;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

.bag-item {
    width: 70%;
    text-align: center;
    padding-top: 10px;
    font-weight: lighter;
}

.secure {
    padding-top: 10px;
   justify-content: flex-end;
}

.secure p{
    text-align: right;
}
.secure i {
    padding: 4.5px 4px 0 0;
}
.shopping-btn-wishlist{
    padding: 12px 20px;
    color: #3366E8;
    border: 1px solid;
    background-color: white;
    border-color:#3366E8 ;
}

.heading-wishlist {
    display: flex;
    justify-content: space-around;
}
.top-line {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.533);
}